.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  .login-container form button {
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .login-container form button:hover {
    background-color: #0056b3;
  }

.signup-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container form input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.signup-container form button {
  padding: 10px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.signup-container form button:hover {
  background-color: #0056b3;
}

.search-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.search-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.search-container form {
  display: flex;
  flex-direction: column;
}

.search-container form input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.search-container form button {
  padding: 10px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.search-container form button:hover {
  background-color: #0056b3;
}

.search-container ul {
  list-style-type: none;
  padding: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
}